################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Clement Marescaux - RoboCode_Pathfinding.zip
